<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409902478458-kmg9qq13vhg7druji1s7l6f4difshjbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409902478458-kmg9qq13vhg7druji1s7l6f4difshjbj</string>
	<key>API_KEY</key>
	<string>AIzaSyAqIV2z8LTNRnB8Vi_7jVjzaEuGdyXGezA</string>
	<key>GCM_SENDER_ID</key>
	<string>409902478458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.music</string>
	<key>PROJECT_ID</key>
	<string>music-e82cc</string>
	<key>STORAGE_BUCKET</key>
	<string>music-e82cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409902478458:ios:7e0c9d07d91d48d6f037c3</string>
</dict>
</plist>